{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<h1>Login..</h1>
<div class="form-group">
    <form action="" method="post">
        <br><br>
        {% csrf_token %}
        <div class="mb-3">
        
            <input class="form-control" name="username" placeholder="Username">
          </div>
          
          <div class="mb-3">
            
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          {% if form.errors %}
            <p style="color: red;">Username and Password did not match.</p>
          {% endif %}
        
        <button class="btn btn-secondary">Login</button>
    </form>
</div>  


{% endblock %}
    