{% extends 'base.html' %}
{% load static %}
{% block title %}Password Changed{% endblock %}
{% block content %}

<!-- {{ user.username }} -->
<!-- { for field, value in profile.items } 
{ if value != None }
    <p>{{ field }} = {{ value }}</p>
{ endif }
{ endfor }-->

<h1>User Profile</h1>
   


<!-- {{ page_user}} -->

{% if user.profile.profile_pic %}
<img src="{{ user.profile.profile_pic.url }}" alt="Profile">
{% else %}
<img src="{% static 'theBlog/images/Screenshot (13).png' %}" width="10%" alt="No Profile">
{% endif %}

{{ page_user.user.first_name }} <br> {{ page_user.user.last_name }} <br>
{{ page_user.user.username }} <br> {{ page_user.user.date_joined.date }} <br>

{% if page_user.profile.bio %}
{{ page_user.profile.bio }}
{% endif %} 

{% if page_user.profile.website_url %}
{{ page_user.user.profile.website_url }}
{% endif %} 

{% if page_user.profile.facebook_url %}
{{ page_user.user.profile.facebook_url }}
{% endif %}


{% if page_user.profile.instagram_url %}
{{ page_user.profile.instagram_url }}
{% endif %}

{% if page_user.profile.twitter_url %}
{{ page_user.profile.twitter_url }}
{% endif %}

{% if page_user.profile.pinterest_url %}
{{ page_user.profile.pinterest_url }}
{% endif %}

<hr>

{% for post in user_posts %}
<p>{{ post }}</p><hr>

<ul>
    <li><a href="{% url 'theBlog:article_detail' post.pk %}">{{ post.title }}</a> <small><a href="{% url 'theBlog:category' post.category %}">{{ post.category }}</a></small><br><small> by {{ post.author }} {{ post.author.email }} </small>
        
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <small><a href="{% url 'theBlog:edit_post' post.pk %}">Edit</a></small>
        <small><a href="{% url 'theBlog:delete_post' post.pk %}">Delete</a></small>
        {% endif %}
        {% endif %}
    </li>
    {{ post.snippet }}
    <!-- {{ post.body|slice:":200"|safe }} -->
    <br><small><small class="disabled">{{ post.post_time }} {{ post.post_date }}</small></small>
</ul>
<hr>
{% endfor %}



{% endblock %} 